DATABASE_URL=

DATABASE_URL_POOLER=


BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
CORS_ORIGIN=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

S3_ENDPOINT=
CF_ACCESS_KEY=
CF_SECRECT_KEY=