DATABASE_URL=
DATABASE_URL_POOLER=


BETTER_AUTH_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

S3_ENDPOINT=
CF_ACCESS_KEY=
CF_SECRECT_KEY=

JWT_SECRET=
JWT_ISSUER=

PRO_ID=
STARTER_ID=
DODO_PAYMENTS_API_KEY=
DODO_PAYMENTS_WEBHOOK_SECRET=