DATABASE_URL=
DATABASE_URL_POOLER=


BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
FRONTEND_URL=
BACKEND_URL=

DODO_PAYMENTS_API_KEY=
DODO_PAYMENTS_WEBHOOK_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

PRO_ID=
STARTER_ID=
