DATABASE_URL=
DATABASE_URL_POOLER=


BETTER_AUTH_SECRET=
# FRONTEND_URL and BACKEND_URL are set in wrangler.jsonc, not here
# BETTER_AUTH_URL is not required

DODO_PAYMENTS_API_KEY=
DODO_PAYMENTS_WEBHOOK_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

PRO_ID=
STARTER_ID=
